<<<<<<< HEAD
<div id='user-info'> 
    <div class='show'>
    <dl>
    <dt>{{i18n user.email.title}}:</dt><dd {{bindAttr title="content.email"}}>{{content.email}}</dd>
    <dt>Position:</dt><dd {{bindAttr title="content.position"}}>{{content.position}}</dd>
    <dt>Teams:</dt><dd {{bindAttr title="content.teams"}}>{{content.teams}}</dd>
    <dt>Flash Lessons:</dt><dd>{{content.events_attended}}</dd>  

    {{#if content.last_posted_at}}
      <dt>{{i18n user.last_posted}}:</dt><dd>{{date content.last_posted_at}}</dd>
    {{/if}}
    {{#if content.last_seen_at}}
      <dt>{{i18n user.last_seen}}:</dt><dd>{{date content.last_seen_at}}</dd>
    {{/if}}
    </dl>
  </div>
  <nav class='buttons'>
    {{#if content.can_edit}}
      {{#linkTo "preferences" class="btn"}}{{i18n user.edit}}{{/linkTo}}
    {{/if}}
    <br/>
    {{#if content.can_send_private_message_to_user}}
      <button class='btn create' {{action composePrivateMessage}}>
        <i class='icon icon-envelope-alt'></i>
        {{i18n user.private_message}}
      </button>
    {{/if}}
  </nav>
  <div class='clearfix'></div>

  <ul class='action-list nav-stacked side-nav'>
    {{view Discourse.ActivityFilterView countBinding="statsCountNonPM"}}
    {{#each statsExcludingPms}}
      {{view Discourse.ActivityFilterView contentBinding="this"}}
    {{/each}}
  </ul>

=======
{{#with user}}
  <div id='user-info'>
    <nav class='buttons'>
      {{#if can_edit}}
        {{#linkTo "preferences" class="btn"}}{{i18n user.edit}}{{/linkTo}}
      {{/if}}
      <br/>
      {{#if can_send_private_message_to_user}}
        <button class='btn create' {{action composePrivateMessage}}>
          <i class='icon icon-envelope-alt'></i>
          {{i18n user.private_message}}
        </button>
      {{/if}}
    </nav>
    <div class='clearfix'></div>

    <ul class='action-list nav-stacked side-nav'>
      {{activityFilter count=statsCountNonPM}}
      {{#each statsExcludingPms}}
        {{activityFilter content=this}}
      {{/each}}
    </ul>
    <div class='show'>
      <dl>
      {{#if hasWebsite}}
        <dt>{{i18n user.website}}:</dt><dd><a {{bindAttr href="website"}} target="_blank">{{websiteName}}</a></dd>
      {{/if}}
      {{#if created_at}}
        <dt>{{i18n user.created}}:</dt><dd>{{date created_at}}</dd>
      {{/if}}
      {{#if last_posted_at}}
        <dt>{{i18n user.last_posted}}:</dt><dd>{{date last_posted_at}}</dd>
      {{/if}}
      {{#if last_seen_at}}
        <dt>{{i18n user.last_seen}}:</dt><dd>{{date last_seen_at}}</dd>
      {{/if}}
      {{#if invited_by}}
        <dt>{{i18n user.invited_by}}:</dt><dd>{{#linkTo user.activity invited_by}}{{invited_by.username}}{{/linkTo}}</dd>
      {{/if}}
      {{#if email}}
        <dt>{{i18n user.email.title}}:</dt><dd {{bindAttr title="email"}}>{{email}}</dd>
      {{/if}}
      <dt>{{i18n user.trust_level}}:</dt><dd>{{trustLevel.name}}</dd>
      </dl>
    </div>
>>>>>>> 4de0c58b834664c3220deb58202d1ccd14053fef

    {{#if can_edit}}
      <div style='margin-top: 10px'>
        <button class='btn' data-not-implemented='true' disabled title="{{i18n not_implemented}}">{{i18n user.download_archive}}</button>
      </div>
    {{/if}}

  </div>
<<<<<<< HEAD
=======
{{/with}}

>>>>>>> 4de0c58b834664c3220deb58202d1ccd14053fef
{{userStream stream=model}}
