{{#if view.currentUser.unread_alerts}}

<div class='{{bgClass}}'id='discourse-pervasive-banner'>
<div class='container'>
  <div class="contents clearfix">
  <div id='banner-text'>
    {{view.alert.icon}}
    {{view.alert.message}}
    {{view.alert.rendered}}
    <a href='#' {{action closeAlert target='view'}}>
      <i class='pull-right icon icon-remove'></i>
    </a>
  </div>
  </div>
  </div>
</div>
  <script>
   $('.d-header').css('top', '28px');
   $('#main-outlet').css('padding-top', '103px');
  </script>
{{/if}}