{{#if model}}
  {{#linkTo 'user' user}}{{boundAvatar model imageSize="huge"}}{{/linkTo}}

  <h1 {{bindAttr class="staff new_user"}}><a {{bindAttr href="usernameUrl"}}>{{username}}</a></h1>
  {{#if showName}}
    <h2><a {{bindAttr href="usernameUrl"}}>{{name}}</a></h2>
  {{/if}}

  {{#if user}}
    <h3>{{{user.position}}}</h3>
    <h3>{{{user.teams}}}</h3>
    <div class='bottom'>
     <div class='bio'><ol style='text-align: left;'>  
              <li>{{{user.fact_one}}}</li>
              <li>{{{user.fact_two}}}</li>
              <li>{{{user.fact_three}}}</li>
            </ol>   
      </div>

      {{#if user.can_send_private_message_to_user}}
        <button class='btn' {{action composePrivateMessage user}}><i class='fa fa-envelope'></i>{{i18n user.private_message}}</button>
      {{/if}}

      {{#link-to 'user' user class="btn"}}<i class='fa fa-user'></i>{{i18n user.show_profile}}{{/link-to}}

      {{#if showFilter}}
        <button class='btn' {{action togglePosts user}}><i class='fa fa-filter'></i>{{i18n topic.filter_to username="username" post_count="participant.post_count"}}</button>
      {{/if}}

      {{#if hasUserFilters}}
        <button class='btn' {{action cancelFilter}}><i class='fa fa-times'></i>{{i18n topic.filters.cancel}}</button>
      {{/if}}

    </div>
  {{else}}
    <p class='loading'>{{i18n loading}}</p>
  {{/if}}

{{/if}}
